body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
}

#heading {
    font-size: 2em;
}

#subheading {
    font-size: 1em;
    color: darkgrey;
}

#rules, #rulesholder {
    font-size: 0.8em;
    word-wrap: break-word;
    white-space: pre-line;
}

#reset {
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 47%;
    margin-right: 47%;
}

#reset:hover {
    background-color: #d2f8d2;
}

#source {
    position: fixed;
    bottom: 1%;
    right: 1%;
}